/* COMMON RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}
body {
    overflow: scroll;
    scroll-behavior: smooth;
}

.dsp-flex {
    display: flex;
}

.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
}


.smaller{
    width: 50%;
}

i{
    padding: 2px;
}

/* HEADER: NAV SECTION */

.header-wrapper {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    font-size: 14px;
    z-index: 10;
    top: 0;
}

.logo {
    align-self: center;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
#b-b:hover{
    border-bottom: 2px solid black;
    height: 100%;
}


.left-side {
    display: flex;
}

.header-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: white;
    border: none;
    padding: 2px;
    font-size: 14px;
}

button:hover {
    transition: 1s;
    background-color: rgb(0, 97, 255);
    color: white;
}

.btn{
    background-color: rgb(30, 102, 141);
    color: white;
    margin: 20px 0;
    padding: 10px;
}

/* MAIN: SECTION 1 BLUE */

main{
    margin-top: 60px;
}

.blue-section {
    height: 550px;
    width: 100%;
    background-color: rgb(180, 208, 231);
    color: black;
}

.elements{
    margin: 0 auto;
    width: 70%;
    height: 700px;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}


.jumbo {
    transform: scale(.4);
    position: relative;
    right: 600px;
    bottom: 300px;
}

.w-40 p{
    margin-top: 20px;
}

.fa-arrow-down{
    font-size: 35px;
    margin-top: 20px;
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-15px);} 
    60% {transform: translateY(-10px);} 
 } 

.fa-arrow-down:hover{
    color: white;
}

   

.container-1{
    justify-content: space space-between;
}

#delete:hover{
    color: white;
}

/* SECTION 2: BOXES */


#radio:active{
    border: 1px solid rgb(2, 96, 255);
    background-color: white;
}


.boxes-container{
    margin-top:200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio-section{
    text-align: left;
    padding: 30px 0;
}


.radio-section h2{
    margin-bottom: 40px;
    font-size: 2rem;
    text-align: left;
}

.radio-section span{
    padding-right: 50px;
}

/* USING DISPLAY:GRID LAYOUT */

.boxes {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    gap: 30px;
    width: 60%;
}

.boxes > div {
  padding: 10px 10px;
  border: .5px solid black;
}

#btn-box{
    width: 100%;    
}

.box-main{
    text-indent: -9px;   
}

.box-main ul{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.box-main li{
    padding: 10px 10px;
    list-style: none;
}


hr{
    width: 40%;
}

.opacity{
    opacity: 0.5;
}

.box-top{
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: center;
    border-bottom: .5px solid black;
}

h3{
    font-size: 1.5srem;
}

.boxes-hr{
    border: .5px solid black;
    width: 60%;
    height: 200px;  
    margin: 60px auto;
}

.box-hr{
     display: flex;
     justify-content: space-between;
     width: 100%;
}

.box-hr-button{
    padding: 20px 30px 150px ;
    width: 35%;
}

.box-hr-title p, .box-hr-title h2{
    margin-left: 15px;
    padding-top: 15px;    
}

.box-hr-title{
    width: 50%;
}

/* SECTION 3: PIC, PARAGRAPH AND EHITE BUTTON */

.pic-container{
    width: 60%;
    height: 400px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
}

.img-container{
    width: 60%;
}

.img-container img{
    width: 100%;
}

.paragraph-container{
    width: 40%;
}

.paragraph-container{
    margin: 40px;
}

.btn-white{
    color: black;
    background-color: white;
    border: .5px solid black;
    padding: 5px 10px;
}


/* SECTION 4: DROPBOX FEATURES: IMAGES AND PARAGRAPHS */

.feature-title{
    width: 60%;
    margin: auto;
    margin-bottom: 50px; 
    margin-top: 200px;
    font-size: 1.5rem;
}

.features{
    width: 60%;
    margin-bottom: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
}

.feature{
    width: calc(90% / 3 - 15px);
    margin: 15px;
}

.feature h3{
    padding: 20px 0px;
}

.feature img{
    width: 100%;
}

.feature img:hover{
    animation: scale linear 1s;
}

@keyframes scale{
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.feature img:active{
    opacity: .4;
}

/* SECTION 5: TITLE AND LOGO-BOXES */

/* TITLE */

.title-below{
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-top: 100px;
}

.title-below p{
    margin-top: 50px;
    margin-bottom: 100px;
}

/*  LOGOS - BG-COLOR DIVs */

.logos-container{
    width: 100%;
    display: flex;
}

.logos-wrapper{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}


.left-wrapper, .right-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.left-wrapper div, .right-wrapper div{
    width: 50%;
    height: 50%;
}

.logosquare{
   position: relative;
}

.logosquare img{
   width: 50%; 
   position: absolute;
   top: 50%;
   left: 50%;
   filter: invert(1);
   transform: translate(-50%, -50%);
}

.l1{
   background-color: #acecc0;
}

.l2{
  background-color: #5e1c24;
}

.l3{
  background-color: #5ab0d2;
}

.l4{
  background-color:#ff4d1c ;
}

.l5{
  background-color:#c0213ee1 ;
}

.l6{
  background-color: #d5dce1;
}

.l7{
  background-color: #0a3673;
}

.l8{
  background-color: #fee472;
}

.logo-center .logo-paragraph{
  margin: 40px 10px;
}

/* BONUS */

.logo-center{
    width: 34%;
    background-color: lightgray;
    padding: 40px 10px;
  }
  
  .logo-center .logo-active{
    width: 50%;
  }
  
  .logosquare:active{

  }

/* BONUS */

/* SECTION 6: COLOR BLUE */

.blue-second{
    width: 100%;
    height: 400px;
    background-color: rgb(180, 208, 231);
    display: flex;
    justify-content: center;
    color: rgb(97, 8, 43);
    margin-bottom: 100px;
}

.blue-second > div{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn-width{
    width: 30%;
}

.blue-second h1{
    font-size: 3rem;
}


/* SECTION 7: FAQ */

.faq-container{
    margin: auto;
    width: 60%;
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-bottom: 40px; 
}

.question i:hover{
    height: 100px;
    content: lorem ipsum dolor sit amet;
}

.faq-bb{
    border-bottom: .5px solid black;
}

.faq-container h2{
    padding-bottom: 40px;
}

.faq-container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}


.faq-container ul li .question{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-top: .5px solid black;
}


/*  FOOTER SECTION: LISTS IN COLUMNS */

footer{
    width: 100%;
    background-color: black;
    margin-top: 30px;
    color: white;
}


.footer-container{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.footer-column{
    width: 15%;
    padding-top: 30px;
}

.footer-column ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 60px;
}

.footer-column ul li{
    padding-top: 10px;
    color: white;
    font-size: 13px;
}


